

.chatbot {
    font: large;
    background-color: pink;
}

.chatbot-input {
    font: large;
    background-color: white;
    padding: 50%;
}

.chatbot-input button:hover{
    background-color: grey;
}

.message {
    padding: 10px;
    color: white;
}
