/* ChatBot.css */
.chatbot {
  font: large;
  color: black;
  background-color: white;
}

.chatbot-input {
  font: large;
  background-color: white;
  padding: 10px;
}

.chatbot-input button:hover {
  align-self: baseline;
  background-color: white;
}

.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 120px;
  padding: 10px 10px 0 10px;
  border: 1px solid black;
  box-sizing: border-box;
}

.message-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-items: baseline;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex: 10;
  background-color: white;
}

.message {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  max-width: 80%;
  word-wrap: break-word;
  color: black;
  align-self: flex-start;
}

.user {
  margin: 10px;
  background-color: #dcf8c6;
  align-self: flex-end;
}

.bot {
  margin: 10px;
  background-color: #f1f0f0;
  align-self: flex-start;
}

.toggler {
  color: rgb(73, 106, 251);
  text-decoration: underline;
}

.toggler:hover {
  opacity: 0.5;
  cursor: pointer;
}
