.header {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffff;
    margin-left: 10%;
    margin-right: 10%;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .logo img {
    height: 40px;
  }

  .nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav li {
    margin-left: 1.5rem;
  }

  .nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .nav a:hover {
    color: #757575;
  }
